@page "/"
@layout MainLayout

<PageTitle>Snake Game</PageTitle>

<div>
    <h3>Snake Game written in C# with Blazor ASP.NET</h3>
    <a href="/snakegame">PLAY!</a>
</div>
<a href="https://github.com/carloshrm/blazorSnake"> Source on Github. </a>
