@page "/"
@layout MainLayout

<PageTitle>Snake Game</PageTitle>

<div>
    <h3>Classic Games written for Web in C# with Blazor ASP.NET</h3>
</div>

<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="TODO" alt="Snake Game Image">
    <div class="card-body">
        <h5 class="card-title">FastSnake</h5>
        <p class="card-text">Classic snake game, but just a little bit faster.</p>
        <a href="/snakegame" class="btn btn-primary">Play</a>
    </div>
</div>
<a href="https://github.com/carloshrm/blazorSnake"> Source on Github. </a>
