<div id="pad_container">
    <button id="pad_bt_down" class="oi oi-chevron-bottom" @onclick=@((e) => inputCallback("s"))>
    </button>
    <button id="pad_bt_right" class="oi oi-chevron-right" @onclick=@((e) => inputCallback("d"))>
    </button>
    <button id="pad_bt_left" class="oi oi-chevron-left" @onclick=@((e) => inputCallback("a"))>
    </button>
    <button id="pad_bt_up" class="oi oi-chevron-top" @onclick=@((e) => inputCallback("w"))>
    </button>
</div>

@code {
    public delegate void externalHandler(string d);

    [Parameter]
    public externalHandler inputCallback { get; set; }
}
