a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.4em 1em;
    margin: 0 1em;
    border-radius: 2em;
    background-color: var(--color-highlight-hsat);
}

ul {
    display: flex;
    width: 100%;
    padding: 0.6em;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
}

#main-header {
    border-bottom: 1px solid var(--color-highlight-hsat);
}

@media only screen and (max-width: 400px) {
    #main-header {
        padding: 0;
        margin: 0;
    }
}

@media (orientation: landscape) {
    #game-container {
        margin: 0;
        transform: scale(0.6);
    }

    #game-controls {
        margin: 0;
        padding: 0;
    }
}