@inherits LayoutComponentBase

<header id="main-header">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="https://github.com/carloshrm/cmArcade"> Source </a>
        </li>
        <li>
            <span>Classic arcade games written for Web in C#</span>
        </li>
    </ul>
</header>
@Body
