a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.4em 1em;
    border-radius: 2em;
    background-color: var(--color-highlight-lsat);
}

ul {
    display: flex;
    width: 100%;
    padding: 0.6em;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
}

#main-header {
    background-color: black;
    color: white;
}
