@inherits LayoutComponentBase

<div class="page">
@*    <div class="sidebar">
        <h3>sidebar here</h3>
    </div>*@

    <main>
@*        <div class="top-row px-4">
            <h3>header here</h3>
        </div>*@

        <article>
            @Body
        </article>
    </main>
</div>
