@page "/asteroids"

@inject IJSRuntime jsRuntime
@inject IScoreService scoreService
@implements IDisposable
@inherits GamePage<AsteroidsField>
@using cmArcade.Shared.Asteroids

<main id="main-content" @onkeydown:preventDefault="true">
    <div id="game-controls">
        <button type="button" class="soft-shadow game-button @((currentScore.scoreValue > 0 && gameControl.Enabled) ? "dark-bg ok" : "")" @onclick=StartGame>start</button>
        <button type="button" class="soft-shadow game-button" @onclick=ResetGame>reset</button>
    </div>
    <div id="game-container" tabindex="0" @onkeydown=@((e) => KeyDownHandler(e.Key)) @onkeyup=@((e) => KeyUpHandler(e.Key))>
        <GameCanvas @ref=gameScreen appID=_myID />
        @if (currentScore?.turn > 0 && gameOver)
        {
            <PostGameView currentScore=currentScore highScore=highScore appID=_myID />
        }
    </div>
    @if (isMobile)
    {
        <TouchDPad clickCallback=KeyDownHandler releaseCallback=KeyUpHandler />
    }
</main>

@code {
    private GameCanvas? gameScreen;

    private bool gameOver = false;

    private bool isMobile = false;
    private bool mobileMoveToggle = false;

    public AsteroidsGame() : base(AppID.Asteroids)
    {
        gameControl.Interval = 50;
    }

    protected override async Task OnInitializedAsync()
    {
        isMobile = await jsRuntime.InvokeAsync<bool>("isMobile");
        if (isMobile)
            textStyle = ("8px \"Press Start 2P\"", "white");

        highScore = await scoreService.readLocalScore(_myID);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (gameScreen != null)
            {
                await gameScreen.SetCanvasSize();
                game = new AsteroidsField(gameScreen!.GetDimensions());
            }
            gameControl.Elapsed += RunGame;
            canvasRefresh.Elapsed += DrawGame;
            StateHasChanged();
        }
    }

    protected async override Task StartGame()
    {
        await jsRuntime.InvokeVoidAsync("setFocus");
        if (gameControl.Enabled)
            return;
        else
        {
            if (currentScore.scoreValue > 0)
                await ResetGame();
            currentScore.turn = 1;
            currentScore.runStart = DateTime.Now;
            ToggleControlObjects();
        }
    }

    protected override async Task ResetGame()
    {
        await jsRuntime.InvokeVoidAsync("setFocus");
        if (gameControl.Enabled)
            ToggleControlObjects();

        currentScore = new Score(_myID);
        game = new AsteroidsField(gameScreen!.GetDimensions());
        gameOver = false;
        gameScreen.ClearCanvas();
    }

    protected override async Task StopGame()
    {
        gameOver = true;
        ToggleControlObjects();
        currentScore.runLength = DateTime.Now - currentScore.runStart;
        if (currentScore.scoreValue > highScore.scoreValue)
        {
            highScore = currentScore;
            await scoreService.setLocalScore(highScore);
        }
        StateHasChanged();
    }

    protected override void KeyDownHandler(string key)
    {
        game.parseKeyDown(key);
    }

    protected override void KeyUpHandler(string key)
    {
        game.parseKeyUp(key);
    }

    private string getUIText()
    {
        return
            $"Time: \n  {currentScore.runLength.ToString("mm\\:ss")} \n" +
            $"Score:\n  {currentScore.scoreValue} \n" +
            $"Best: \n  {highScore.scoreValue} \n";
    }

    protected async override void RunGame(Object? o, ElapsedEventArgs e)
    {
        game.UpdateGameState(currentScore);
        if (game.CheckGameOver())
            await StopGame();

        currentScore.runLength = DateTime.Now - currentScore.runStart;
    }

    protected async override void DrawGame(Object? o, ElapsedEventArgs e)
    {
        gameScreen.FillCanvas("black");
        var ship = ((PlayerShip)game.GetPlayer());
        gameScreen.DrawVectorialSet(ship.getParts());
        gameScreen.DrawVectorialSet(ship.shots);
        gameScreen.FillTextExtended(getUIText(), gameScreen.componentWidth * 0.02, 20, textStyle.font, textStyle.color, 10);
        gameScreen.DrawVectorialSet(game.asteroids);
        await gameScreen.RenderQueue();        
    }

    public override void DisposeHarder()
    {
        gameScreen?.Dispose();
    }
}
