* {
    font-family: 'Press Start 2P', cursive !important;
    outline: none;
}

#main-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 10em;
}

#game-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color: white;
    padding: 1em;
}

#game-container {
    margin: 1em auto;
    background-color: white;
    box-shadow: var(--color-highlight-lsat) 0px 0px 40px 5px;
}

#post-game-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    height: fit-content;
    overflow-x: auto;
    z-index: 1;
}