@page "/breaker"
@inject IJSRuntime jsRuntime
@inject IScoreService scoreService
@implements IDisposable
@inherits GamePage<BreakerField>
@using cmArcade.Shared.Breaker

<main id="main-content" @onkeydown:preventDefault="true">
    <div id="game-controls">
        <button type="button" class="soft-shadow game-button @((currentScore.scoreValue > 0 && gameControl.Enabled) ? "dark-bg ok" : "")" @onclick=startGame>start</button>
        <button type="button" class="soft-shadow game-button" @onclick=resetGame>reset</button>
    </div>
    <div id="game-container" tabindex="0" @onkeydown=@((e) => keyDownInputHandler(e.Key)) @onkeyup=@((e) => keyUpInputHandler(e.Key))>
        <GameCanvas @ref=gameScreen appID=_myID />
        @if (currentScore?.turn > 0 && gameOver)
        {
            <PostGameView currentScore=currentScore highScore=highScore app=_myID />
        }
    </div>
    @if (isMobile)
    {
        <TouchDPad clickCallback=keyDownInputHandler releaseCallback=keyUpInputHandler />
    }
</main>

<img hidden src=@($"/img/breakerAssets/player.png") @ref=@(gameScreen.assets[PadModel.playerPad.spriteId]) />
<img hidden src=@($"/img/breakerAssets/ball.png") @ref=@(gameScreen.assets[BallModel.breakerBall.spriteId]) />
<img hidden src=@($"/img/breakerAssets/crack.png") @ref=@(gameScreen.assets["crack"]) />
@foreach (var bm in ((IEnumerable<GraphicAsset>)BlockModel.blocks)
                 .Concat(PowerUpModel.breakerPowerUps.Values)
                 .Concat(GameDecal.breakerDecals.Values))
{
    <img hidden src=@($"/img/breakerAssets/{bm.spriteId}.png") @ref=@(gameScreen.assets[bm.spriteId]) />
}
<img hidden src=@($"/img/genericAssets/heart.png") @ref=@(gameScreen.assets["heart"]) />

@code {
    private GameCanvas? gameScreen;

    private DateTime? holdStart;
    private TimeSpan timeHeld;

    private bool gameOver = false;

    private bool isMobile = false;
    private bool mobileMoveToggle = false;

    public BreakerGame() : base(AppID.Breaker)
    {
        gameControl.Interval = 10;
        holdStart = null;
        timeHeld = TimeSpan.Zero;
    }

    protected override async Task OnInitializedAsync()
    {
        isMobile = await jsRuntime.InvokeAsync<bool>("isMobile");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (gameScreen != null)
            {
                await gameScreen.setCanvasSize();
                await gameScreen.canvasReference.SetFontAsync("16px \"Press Start 2P\"");
                await gameScreen.canvasReference.SetFillStyleAsync("white");
                game = new BreakerField(gameScreen.getDimensions());
            }
            highScore = await scoreService.readLocalScore(_myID);
            gameControl.Elapsed += runGame;
            canvasRefresh.Elapsed += drawGame;
            StateHasChanged();
        }
    }

    protected async override Task startGame()
    {
        await jsRuntime.InvokeVoidAsync("setFocus");
        if (gameControl.Enabled)
            return;
        else
        {
            if (currentScore.scoreValue > 0)
                await resetGame();
            currentScore.turn = 1;
            currentScore.runStart = DateTime.Now;
            toggleControlObjects();
        }
    }

    protected override async Task resetGame()
    {
        await jsRuntime.InvokeVoidAsync("setFocus");
        if (gameControl.Enabled) toggleControlObjects();
        currentScore = new Score(_myID);
        game = new BreakerField(gameScreen!.getDimensions());
        gameOver = false;
        await gameScreen.clear();
    }

    protected override async Task stopGame()
    {
        gameOver = true;
        toggleControlObjects();
        currentScore.runLength = DateTime.Now - currentScore.runStart;
        if (currentScore.scoreValue > highScore.scoreValue)
        {
            highScore = currentScore;
            await scoreService.setLocalScore(highScore);
        }
        StateHasChanged();
    }

    private void keyDownInputHandler(string dir)
    {
        game.parseKeyDown(dir);
    }

    private void keyUpInputHandler(string dir)
    {
        game.parseKeyUp(dir);
    }

    private string getUIText()
    {
        var text = new StringBuilder();
        text.Append($"Score:{currentScore.scoreValue}x{game.fieldScoreMultiplier}\t ");
        if (highScore.scoreValue > 0) text.Append($"Best:{highScore.scoreValue}\t ");
        text.Append($"Time:{currentScore.runLength.ToString("mm\\:ss")} ");
        text.Append($"Depth:{currentScore.turn}");
        return text.ToString();
    }

    protected async override void runGame(Object? o, ElapsedEventArgs e)
    {
        game.updateGameState(currentScore);
        if (game.ballOnHold)
        {
            if (holdStart == null)
                holdStart = DateTime.Now;
        }
        else
        {
            if (holdStart != null)
            {
                timeHeld += (DateTime.Now - (holdStart ?? DateTime.Now));
                holdStart = null;
            }
            currentScore.runLength = (DateTime.Now - timeHeld) - currentScore.runStart;
        }
        if (game.checkGameOver()) 
            await stopGame();
    }

    protected async override void drawGame(Object? o, ElapsedEventArgs e)
    {
        await gameScreen.canvasReference.BeginBatchAsync();
        await gameScreen.fillColor("black");
        await gameScreen.canvasReference.FillTextAsync(getUIText(), 10, 20);

        for (int i = 0; i < game.fieldMessages.Count; i++)
            await gameScreen.fillTextExtended(game.fieldMessages[i], 0, (gameScreen.getDimensions().y / 2) + (i * 20), "10px \"Press Start 2P\"", "yellow");

        if (game.ballOnHold)
            await gameScreen.canvasReference.FillTextAsync("hit spacebar or up to release the ball", (gameScreen.getDimensions().x / 5.5), (gameScreen.getDimensions().y * 0.8));

        for (int i = 1; i <= game.player.healthPoints; i++)
            await gameScreen.canvasReference.DrawImageAsync(gameScreen.assets["heart"], gameScreen.componentWidth - (40 * i), 10);

        await gameScreen.drawObject(game.player);
        await gameScreen.drawSet(game.balls);
        await gameScreen.drawSet(game.powerups);
        game.blocks.ForEach(async (r) => await gameScreen.drawSet(r));
        await gameScreen.canvasReference.EndBatchAsync();
    }

    public override void DisposeHarder()
    {
        gameScreen?.Dispose();
    }
}
