* {
    font-family: 'Press Start 2P', cursive !important;
    outline: none;
}

#game-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color: white;
    padding: 1em;
}

#game-container {
    margin: 1em auto;
    background-color: black;
    border: 1px solid var(--color-highlight-hsat);
}
