@page "/"
@layout MainLayout

<PageTitle>Snake Game</PageTitle>

<div>
    <h3>Classic Games written for Web in C# with Blazor ASP.NET</h3>
</div>

<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="/img/sg.png" alt="Snake Game Image">
    <div class="card-body">
        <h5 class="card-title">Fastsnake</h5>
        <p class="card-text">Classic snake game just a little bit faster.</p>
        <a href="/snakegame" class="btn btn-primary">Play!</a>
        <a href="https://github.com/carloshrm/blazorSnake" class="btn btn-light"> View source on Github. </a>
    </div>
</div>
