@page "/"
@layout MainLayout

<PageTitle>Classic Arcade Games</PageTitle>

<main id="main-card-container">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/img/sg.png" alt="Snake Game Image">
        <div class="card-body">
            <h5 class="card-title">Fastsnake</h5>
            <p class="card-text">Classic snake game just a little bit faster.</p>
            <a href="/snakegame" class="btn btn-primary">Play!</a>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="" alt="Invaders Game Image">
        <div class="card-body">
            <h5 class="card-title">Invaders</h5>
            <p class="card-text">(under construction) Space Invaders</p>
            <a href="/invaders" class="btn btn-primary">Play!</a>
        </div>
    </div>
</main>
