@page "/"
@layout MainLayout

<PageTitle>Classic Arcade Games</PageTitle>
<div id="main-card-container">
    <IndexCard _app=AppID.Snake />
    <IndexCard _app=AppID.Invaders />
    <IndexCard _app=AppID.Breaker />
    <IndexCard _app=AppID.Tetris />
    <IndexCard _app=AppID.Asteroids />
</div>
