@page "/"
@layout MainLayout

<PageTitle>Classic Arcade Games</PageTitle>

<main id="main-card-container">
    <div class="card soft-shadow" style="width: 20rem;">
        <img class="card-img-top" src="/img/sg.png" alt="Snake Game Image">
        <div class="card-body">
            <h5 class="card-title">Fastsnake</h5>
            <p class="card-text">Classic snake game just a little bit faster.</p>
            <a href="/snakegame" class="btn btn-primary">Play!</a>
        </div>
    </div>
    <div class="card soft-shadow" style="width: 20rem;">
        <img class="card-img-top" src="img/ig.png" alt="Invaders Game Image">
        <div class="card-body">
            <h5 class="card-title">Cat Invaders</h5>
            <p class="card-text">Invaders totally not from space are coming for your yard.</p>
            <a href="/invaders" class="btn btn-primary">Play!</a>
        </div>
    </div>    
    <div class="card soft-shadow" style="width: 20rem;">
        <img class="card-img-top" src="img/brg.png" alt="Breaker Game Image">
        <div class="card-body">
            <h5 class="card-title">Breaker</h5>
            <p class="card-text">Bounce your ball against the blocks up top to break them.</p>
            <a href="/breaker" class="btn btn-primary">Play!</a>
        </div>
    </div>
    <div class="card soft-shadow" style="width: 20rem;">
        <img class="card-img-top" src="img/ttr.png" alt="Tetris Game Image">
        <div class="card-body">
            <h5 class="card-title">Tetris</h5>
            <p class="card-text">Arrange the falling blocks to form solid lines.</p>
            <a href="/tetris" class="btn btn-primary">Play!</a>
        </div>
    </div>
    <div class="card soft-shadow" style="width: 20rem;">
        <img class="card-img-top" src="" alt="Asteroids Game Image">
        <div class="card-body">
            <h5 class="card-title">Asteroids</h5>
            <p class="card-text">Clear out the asteroid field.</p>
            @*<a href="/asteroids" class="btn btn-primary">Play!</a>*@
        </div>
    </div>
</main>
