* {
    font-family: 'Press Start 2P', cursive !important;
    outline: none;
}

#main-content {
    display: flex;
    flex-direction: column;
    background-color: #0f0f0f !important;
    padding-bottom: 10em;
}

#game-controls {
    flex-grow: 1;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
}

#score-display {
    margin: 0.4em;
    font-size: 18px;
}

#game-container {
    margin: 1em auto;
    background-color: black;
    box-shadow: #1c003490 0px 0px 40px 5px;
}