* {
    font-family: 'Press Start 2P', cursive !important;
}


#game-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color: white;
    padding: 1em;
}

#game-container {
    margin: 1em auto;
    background-color: black;
    box-shadow: var(--color-dark-background) 2px 2px 4px 2px;
}
