@page "/invaders"
@inject IJSRuntime jsRuntime
@inject IScoreService scoreService

<main id="main-content">
    <div id="game-controls">
        <div id="score-display">
            <span> Score:@currentScore?.scoreValue </span>
            @if (highScore?.scoreValue > 0)
            {
                <span> Best: @highScore?.scoreValue  </span>
            }
        </div>
        <span> Time:@currentScore?.turn </span>
        <div>
            <button type="button" class="soft-shadow game-button" @onclick=startGame>start</button>
            <button type="button" class="soft-shadow game-button" @onclick=resetGame>reset</button>
        </div>
    </div>
    <div id="game-container" tabindex="0" @onkeydown=keyDownInputHandler @onkeyup=keyUpInputHandler>
        <ResponsiveCanvas @ref=_gameScreen appID=AppID.Invaders />
    </div>
</main>

<img class="visually-hidden" src="/img/invaderAssets/invader assets.png" @ref=@assetSheet />  

@code {
    private ResponsiveCanvas _gameScreen;
    private (int row, int col) limits;
    private Score currentScore;
    private Score highScore;

    private Timer mainGameControl;
    private Timer alienControl;

    private Space space;
    private ElementReference assetSheet;

    public InvadersGame()
    {
        alienControl = new Timer(800) { AutoReset = true, Enabled = false };
        alienControl.Elapsed += updateInvaderState;
        mainGameControl = new Timer(10) { AutoReset = true, Enabled = false };
        mainGameControl.Elapsed += updateGameState;
        currentScore = new Score(AppID.Invaders);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _gameScreen.setCanvasSize();
            limits = _gameScreen.getDimensions();
            space = new Space(limits);
            StateHasChanged();
        }
    }

    public void startGame()
    {
        jsRuntime.InvokeVoidAsync("setFocus");
        if (mainGameControl.Enabled)
            return;
        else
        {
            toggleControlObjects();
        }
    }

    public void toggleControlObjects()
    {
        mainGameControl.Enabled = !mainGameControl.Enabled;
        alienControl.Enabled = !alienControl.Enabled;
    }

    private void resetGame()
    {
        if (mainGameControl.Enabled)
            toggleControlObjects();
        currentScore = new Score(AppID.Invaders);
        space = new Space(limits);
        _gameScreen.clear();
    }

    private void keyDownInputHandler(KeyboardEventArgs e)
    {
        space.parseKeyDown(e.Key, e.Repeat);
    }

    private void keyUpInputHandler(KeyboardEventArgs e)
    {
        space.parseKeyUp(e.Key);
    }

    public async void updateGameState(Object? o, ElapsedEventArgs e)
    {
        space.player.updatePosition(limits.row, limits.col);
        foreach (var s in space.shotsFired)
        {
            s.updatePosition();
        }
        space.hitCheck();
        space.shotsFired.RemoveAll(s => s.row <= 0 || s.row >= limits.row || s.hit);
        drawGameState();
    }

    private async void updateInvaderState(Object? o, EventArgs e)
    {
        foreach (var a in space.invaders)
        {
            a.updatePosition(limits.row, limits.col);
        }
        // TODO - speed up 
    }

    private async void drawGameState()
    {
        await _gameScreen.clear();
        await _gameScreen.canvasReference.BeginBatchAsync();
        await _gameScreen.canvasReference.SetFillStyleAsync("white");
        await _gameScreen.canvasReference.FillRectAsync(space.player.col, space.player.row, 
            space.player.model.width, space.player.model.height);

        await _gameScreen.canvasReference.SetFillStyleAsync("yellow");
        foreach (var s in space.shotsFired)
        {
            await _gameScreen.canvasReference.FillRectAsync(s.col, s.row, 6, LaserShot.length);
        }

        await _gameScreen.canvasReference.SetFillStyleAsync("red");
        foreach (var a in space.invaders)
        {
            await _gameScreen.canvasReference.DrawImageAsync(
                assetSheet, 
                100, 100, a.model.width, a.model.height, a.col, a.row, a.model.width, a.model.height);
            //await _gameScreen.canvasReference.FillRectAsync(a.col, a.row, a.model.width, a.model.height);
        }

        await _gameScreen.canvasReference.EndBatchAsync();
    }
}
