@page "/Pac/Build"
@using System.Runtime.InteropServices.JavaScript

<div>
    <h2>Builder</h2>
    <div id="builder-container">
        <div id="point-menu" hidden=@showMenu style=@($"top: {menuPosition.y}px; left: {menuPosition.x}px;")>
            <span>here</span>
        </div>
        <canvas height="720" width="1280" id=@canvasID @onclick=ClickHandler @ref=@displayCanvas @onmousemove=@MouseMoveHandler/>
    </div>
</div>

@code {
    private readonly string canvasID = "builder-canvas";
    private ElementReference displayCanvas { get; set; }
    private List<Vector2> points { get; set; } = new();

    private bool showMenu { get; set; } = true;
    private (double x, double y) menuPosition { get; set; } = (0, 0);

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            CanvasContext.SetupContext(canvasID);
            StateHasChanged();
            CanvasContext.setLineWidth(4);
            CanvasContext.SetStrokeStyle("red");
        }
        ResetCanvas();
        DrawPoints();
    }

    private void DrawPoints()
    {
        CanvasContext.BeginPath();
        bool first = true;
        foreach (var pt in points)
        {
            if (first)
            {
                CanvasContext.MoveTo((int)pt.X, (int)pt.Y);
                first = false;
            }
            else
                CanvasContext.LineTo((int)pt.X, (int)pt.Y);
        }
        CanvasContext.ClosePath();
        CanvasContext.Stroke();
    }

    private void ResetCanvas()
    {
        CanvasContext.ClearCanvas();
        CanvasContext.SetFillStyle("black");
        CanvasContext.FillRect(0, 0, 1280, 720);
    }

    private void ClickHandler(MouseEventArgs e)
    {
        points.Add(new Vector2((int)e.OffsetX, (int)e.OffsetY));
    }

    private void MouseMoveHandler(MouseEventArgs e)
    {
        foreach (var pt in points)
        {
            if ((e.OffsetX <= pt.X + 5 && e.OffsetX >= pt.X - 5) && (e.OffsetY <= pt.Y + 5 && e.OffsetY >= pt.Y - 5))
            {
                showMenu = true;
                menuPosition = (e.OffsetX, e.OffsetY);
            }
            else
                showMenu = false;
        }
        
    }
}
