@page "/snakegame"
@inject IJSRuntime jsRuntime
@inject IScoreService scoreService
@implements IDisposable
@layout MainLayout

<main id="main-content">
    <div id="game-controls">
        <div id="score-display">
            <span> Score:@currentScore?.scoreValue </span>
                @if (highScore?.scoreValue > 0) { <span> Best: @highScore?.scoreValue  </span> }
            <span> Time:@currentScore?.runLength.ToString("mm\\:ss") </span>
        </div>
        <div>
            <button type="button" class="soft-shadow game-button @((turnCount > 0 && turnManager.Enabled) ? "dark-bg" : "")" @onclick=startGame>start</button>
            <button type="button" class="soft-shadow game-button" @onclick=setupNewGame>reset</button>
        </div>
    </div>
    <div id="game-container" class="soft-shadow" tabindex="0" @onkeydown=@((e) => playerInputHandler(e.Key))>
        <ResponsiveCanvas @ref=gameScreen appID=AppID.Snake/>
        @if (turnCount > 0 && !turnManager.Enabled)
        {
            <div id="post-game-container" class="dark-bg soft-shadow">
                <h2>Game Over...</h2>
                <h4>Score: @currentScore?.scoreValue</h4>
                <h4>Best: @highScore?.scoreValue</h4>
                <button type="button" @onclick=@(() => { if (canUpload) showScoreUpload = true; })>Pin on leaderboard!</button>
                <LeaderboardView appID=AppID.Snake @ref=leaderboard />
            </div>
            @if (showScoreUpload && canUpload) { <ScoreUpload info=@highScore callback=@uploadCallback/> }
        }
    </div>
    @if (isMobile) { <TouchDPad inputCallback=playerInputHandler /> }
</main>

@code {
    private ResponsiveCanvas? gameScreen;
    private LeaderboardView? leaderboard;
    private Action<int> uploadCallback;
    private bool showScoreUpload { get; set; }
    private bool isMobile = false;
    private bool canUpload = true;

    private SnakeBoard? gameBoard;
    private Score currentScore;
    private Score highScore;

    private Timer turnManager;
    private int turnCount { get; set; }
    private bool canMove { get; set; }

    public SnakeGame()
    {
        turnManager = new Timer(400) { AutoReset = true, Enabled = false };
        turnManager.Elapsed += runTurn;
        uploadCallback = new Action<int>(refreshAfterUpload);
        currentScore = new Score(AppID.Snake);
        highScore = currentScore;
    }

    protected override async Task OnInitializedAsync()
    {
        isMobile = await jsRuntime.InvokeAsync<bool>("isMobile");
        highScore = await scoreService.readLocalScore(AppID.Snake);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) await setupNewGame();
    }

    private void increaseSpeed(Object? sender, EventArgs e)
    {
        if (turnManager.Enabled)
        {
            turnManager.Interval = 1300 / gameBoard.snake.size;
            if (isMobile) jsRuntime.InvokeVoidAsync("vibrateFeedback");
        }
    }

    private void refreshAfterUpload(int newID)
    {
        showScoreUpload = false;
        canUpload = false;
        if (newID != -1)
        {
            highScore.id = newID;
            leaderboard.refresh();
        }
        StateHasChanged();
    }


    private void playerInputHandler(string direction)
    {
        if (turnManager.Enabled && canMove)
        {
            gameBoard.snake.parseMoveCommand(direction);
        }
        canMove = false;
    }

    private async Task startGame()
    {
        await jsRuntime.InvokeVoidAsync("setFocus");
        if (turnManager.Enabled)
            return;
        else
        {
            if (currentScore.scoreValue > 0)
            {
                currentScore = new Score(AppID.Snake);
                await setupNewGame();
            }
            turnManager.Enabled = true;
            currentScore.runStart = DateTime.Now;
        }
    }

    private async Task setupNewGame()
    {
        turnCount = 0;
        turnManager.Enabled = false;
        turnManager.Interval = 400;
        await gameScreen.setCanvasSize();
        await gameScreen.clear();
        gameBoard = new SnakeBoard(
            gameScreen.getDimensions(),
            gameScreen.baseResolution,
            gameScreen.canvasReference);
        gameBoard.ateFood += increaseSpeed;
    }

    private async void runTurn(Object? src, ElapsedEventArgs e)
    {
        turnCount++;
        currentScore.runLength = e.SignalTime - currentScore.runStart;
        currentScore.scoreValue += (long) Math.Ceiling(turnCount / 10.0) * gameBoard.snake.size;
        gameBoard.snake.setNextSnakePosition();
        await gameBoard.drawGameState();
        var collided = gameBoard.checkCurrentSpotContents();
        if (collided is false)
        {
            turnManager.Enabled = false;
            if (currentScore.scoreValue > highScore.scoreValue)
            {
                highScore = currentScore;
                canUpload = true;
            }
        }
        canMove = true;
        StateHasChanged();
    }

    public void Dispose()
    {
        gameScreen?.Dispose();
        turnManager.Dispose();
    }
}
