
* {
    overflow: hidden !important;
    font-family: 'Press Start 2P', cursive !important;
    outline: none;
}

@media only screen and (max-width: 400px)
{
    * {
        font-size: 12px;
    }
}

#score-display {
    margin: 0.4em;
    font-size: 18px;
}

#game-container {
    display:flex;
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    margin: 1em auto;
}

#game-controls {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
}

#post-game-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    height: fit-content;
    overflow-x: auto;
    z-index: 1;
}

.game-button {
    border: hidden;    
    border-radius: 0.5em;
    padding: 0 1rem;
    margin: 0.4rem;
}

.dark-bg {
    background-color: var(--color-dark-background);
    color: var(--color-highlight-hsat);
}

.soft-shadow {
    box-shadow: var(--color-light-background-hsat) 4px 4px;
}
