@page "/snakegame"
@layout ContentLayout
@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using System.Timers

@inject IJSRuntime JSRUN

<div id="game_controls" @onkeydown=getPlayerInput>
    <h3 id="score_display">Score: @score</h3>
    <div>
        <button class="game_button" @onclick=startGame>start</button>
        <button class="game_button" @onclick=setup>reset</button>
    </div>
</div>
<div id="snake_container" tabindex="0">
    <BECanvas Width="@initialSize.w" Height="@initialSize.h" @ref="_canvasReference" />
</div>

@code {

    private bool canMove { get; set; }
    private long score { get; set; }
    private int turnCount { get; set; }
    private (int w, int h) initialSize { get; set; }
    private Timer? turnControl { get; set; }
    private Board? game { get; set; }
    private Canvas2DContext _canvas { get; set; }
    protected BECanvasComponent _canvasReference { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await setCanvasSize();
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _canvas = await _canvasReference.CreateCanvas2DAsync();
            await setup();
        }
    }

    private void getPlayerInput(KeyboardEventArgs e)
    {
        if (turnControl != null && canMove)
        {
            game.snake.parseMoveCommand(e.Key);
            canMove = false;
        }
    }

    private async Task setCanvasSize() 
    {
        initialSize = (
            (int)(await JSRUN.InvokeAsync<long>("getWindowWidth") * 0.80),
            (int)(await JSRUN.InvokeAsync<long>("getWindowHeight") * 0.80)
            );
        StateHasChanged();
    }

    private async void startGame()
    {
        if (turnControl != null && turnControl.Enabled)
            return;
        else if (game != null)
        {
            game.makeFood();
            await game.drawBoardEdges();
            turnControl = new Timer(400);
            turnControl.Elapsed += runTurn;
            turnControl.Enabled = true;
            turnControl.AutoReset = true;
        }
    }


    private async Task setup()
    {
        if (turnControl != null)
        {
            turnControl.Dispose();
        }
        await setCanvasSize();
        turnCount = 0;
        score = 0;
        await _canvas.ClearRectAsync(0, 0, _canvasReference.Width, _canvasReference.Height);
        game = new Board((int)_canvasReference.Width, (int)_canvasReference.Height);
        game.setContext(_canvas);
        game.newPlayer(new Snake(2));
    }

    private void increaseSpeed()
    {
        if (turnControl != null && turnControl.Enabled)
        {
            turnControl.Interval = 1500 / game.snake.size;
        }
    }

    private async void runTurn(Object src, ElapsedEventArgs e)
    {
        Console.WriteLine($"Turn {turnCount}");
        Console.WriteLine($"size {game.snake.size} score {score}");
        turnCount++;
        score += turnCount * game.snake.size;
        game.snake.setNextSnakePosition();
        await game.drawGameState();
        if (!game.checkSpot(new Action(increaseSpeed)))
        {
            turnControl.Dispose();
            game.drawGameOver();
        }
        canMove = true;
        StateHasChanged();
    }
}
