#pad_container {
    opacity: 0.8;
    width: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        '. u .'
        'l m r'
        '. d .';
}

#mobile_pad {
    position: absolute;
    bottom: 0;
    width: 80vw;
    transform: translateX(10%);
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

#pad_bt_up {
    grid-area: u;
}

#pad_bt_down {
    grid-area: d;
}

#pad_bt_left {
    grid-area: l;
}

#pad_bt_right {
    grid-area: r;
}

#pad_bt_ok {
    padding: 2em;
    background-color: black;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 4vh;
}
